.calcPriceForm, .makeOrderForm, .orderForm {
    margin: 0 auto;
    background: #f0efef;
    padding: 20px 30px;
    border: 1px solid grey;
    border-radius: 5px;
    width: 500px;
}

.orderForm {
    margin-top: 30px;
}

.block {
    display: flex;
    margin-top: 10px;
}

.marg {
    margin-top: 10px;
}

.weight {
    margin-right: 5px;
}

.leftBlock {
    margin-right: 40px;
}

.inputNumb {
    width: 55px;
    text-align: center;
}

.sizeBlock {
    margin-right: 20px;
}

.metrics {
    margin-left: 5px;
}

.calcButton {
    padding: 5px;
    background: #9fe58d;
    border-radius: 5px;
    margin: 25px auto 0 auto;
    display: flex;
}

h2 {
    text-align: center;
    margin-top: 20px;
}

.calcRes {
    text-align: center;
    margin-top: 10px;
    font-size: 20px;
    font-weight: 500;
}

.boldDiv {
    font-weight: 500;
    font-size: 17px;
    padding-top: 5px;
}

#pibRec {
    margin-left: 5px;
    width: 270px;
    padding: 1px;
}

#telRec {
    width: 171px;
    margin-left: 5px;
    padding: 1px;
}

#addressRec {
    display: block;
    margin-top: 10px;
    width: 399px;
    padding: 2px;
}

select {
    padding: 1px;
}

#cityFrom, #cityTo {
    margin-top: 3px;
}

.resCost {
    width: 270px;
    font-size: 18px;
    font-weight: 600;
    margin: 25px auto 0 auto;
}

.payForm {
    margin: 0 auto;
    background: #f0efef;
    padding: 20px 30px;
    border: 1px solid grey;
    border-radius: 5px;
    width: 410px;
}

.cardNumber {
    width: 53px;
}

.margLeft5 {
   margin-left: 5px;
}

#month, #year {
    width: 38px;
}

.cvcL {
    margin-left: 75px;
}

#cvc {
    width: 45px;
}

#pib {
    padding: 1px;
    width: 225px;
}

.centerText {
    text-align: center;
}

.tDiv {
    width: 270px;
    margin: 0 auto;
}

.ordIdInp {
    width: 100px;
}