.myOrderItem {
    margin: 10px 60px 0 60px;
    grid-template-columns: 1.35fr 1.1fr 1.1fr 1.4fr 0.9fr 1.3fr 1.1fr;
}

.allOrdersItem {
    margin: 10px 40px 0 40px;
    grid-template-columns: 1.35fr 1.1fr 1.1fr 1.4fr 0.9fr 1.3fr 1.2fr 0.5fr;
}

.myOrderItem, .allOrdersItem {
    display: grid;
    border: 1px solid;
    padding: 10px;
    background: #e6e6e5;
    border-radius: 6px;
    grid-gap: 10px;
}

.myOrdersBlock {
    margin-top: 25px;
    margin-bottom: 35px;
}

.myOrderItem>.withBorder, .allOrdersItem>.withBorder {
    border-right: 1px solid;
}

.moTitle {
    margin-top: 30px;
}
